extends layout

block header
	#About_Header
		h1(style="display:table-cell;text-align: center").align-middle About Us
block content
	h2 About MPF
	.bg-light.p-4
		p
			| MissingPersonFinder Website is built for Software Engineering 6th Semester OOAD (Object Oriented Analysis and Design) Project assigned by Sir Yasir Hafeez (Professor at 
			a(href='https://www.uaar.edu.pk/', target='_blank', style='color:blue')  PMAS UAAR 
			| ). This website is built with all the Software Engineering Documentations. Code and Documentation of the site can be found on GitHub.
			br
			| 	This website has many security issues, needs to be fixed in furthur versions. You can contribute in the developement of this platform by pointing bugs and sending your suggestions.
		h2 Problem Statement
		p
			| One of the greatest fears of person is to lost their relatives. Each year approximately
			| 609,275 peoples gets lost in USA. In some cases, lost person gets found easily, but in some
			| critical cases missing persons are never reunited with their relatives. Finding lost person can be
			| difficult task. The currently available Manual System for finding missing person have very long
			| procedure and takes more time. More time is requiring for launching a FIR (First Information
			| Report) in police station. Also, time required for finding lost person is more. During manual
			| process number of manpower for searching lost person is less. And in some missing person
			| related website they required FIR No for upload complaint on their website.
		h2 Proposed Solution
		p
			| To overcome these drawbacks, we are developing Proposed System as "Missing Person Finder
			| (MPF)". This web application will basically be developed in Node.js and Express to perform all the tasks that
			| previous system can perform all functionalities that are provided by existing applications as well
			| as it gives additional feature to user. It will be for all web browsers which support all the online
			| Platforms. We got idea about how interface should be for adding new complaint (How add
			| complaint form user) from this web application. Proposed System will contain following
			| features:
		ul
			li Display Information about missing person.
			li Adding new complaint.
			li Searching person by particular attribute such as name, location etc.
			li Display information of person found
			li Post articles.
		p
		h2 Contact the Development Team
		p
			| You can share suggestions, ask questions and report any bug in the site. Your participation will be highly appreciated and you'll get the credits for what you share with us. 
			br
			br
			a(href="mailto:AsifMahsud543@gmail.com" target="_blank").btn.btn-primary.mr-4.text-light Contact by Mail Now
			a(href="tel:+923425106510" target="_blank").btn.btn-primary.text-light Call Now
		hr
		h6.bg-info.text-light.text-center.pt-4
			| Help Us in the Development and maintainence of the non-profit website. 
			br
			| Donate money to help people in finding their dears.
			br
			br
			span 
				a(href="mailto:AsifMahsud543@gmail.com" target="_blank" style="font-weight:bold").btn.btn-warning.text-light.mb-4 Contact Us for Donation
		hr