extends layout

block header
	#article_single
		h1(style="display:table-cell;text-align: center").align-middle Article

block content
	h1.text-center(style="text-decoration:underline")= article.title
	.bg-light.p-4
		br
		if article.file != null
			img(src="/uploads/article/"+article.file style="width:100%;height:500px;display:block;margin-left:auto;margin-right:auto")
		br
		p= article.body
		hr
		h6.text-info Posted by #{author}
		hr
		if user.id == article.author
			a.btn.btn-success.mr-4(href='/articles/edit/'+article._id style="color:white") Edit
			a.btn.btn-danger.delete-article(href="#", data-id= article._id style="color:white") Delete