extends layout

block header
	#Services_Header
		h1(style="display:table-cell;text-align: center").align-middle Services
block content
	h2 Services
	br
	.bg-light.p-4
		a(href="/person/add/missing" style="text-decoration:none").mb4.services
			.media
				i.mr-3.fa.fa-plus-circle.text-info(style="font-size:48px;")
				.media-body
					h5.mt-0.text-info Add Missing Person
					|     Add Records of missing person with a single click. Thousands of Good People will search about the person and they will contact you in case of they find any information about the missing person. Click to Add Now.
		br
		a(href='/articles/add' style="text-decoration:none").mb4.services
			.media
				.media-body
					h5.mt-0.text-info Add Article
					|     Easily Add Articles to share your experience about missing person with the World and help people in finding their dears by writing your expensive articles full of ideas to find a Missing Person. The best articles will be evaluated and awarded at the end of each year.
				i.ml-3.fa.fa-newspaper.text-info(style="font-size:48px;")
		br
		a(href="/users/profile" style="text-decoration:none").mb4.services
			.media
				i.mr-3.fa.fa-user-circle.text-info(style="font-size:48px;")
				.media-body
					h5.mt-0.text-info Profile
					|     Keep your profile Up to Date so that people would be able to contact you in case they have some information for you. You can update email address, name and contact number in your profile. Your profile information will be visible to people with the missing person you posted and with your articles.
		br
		a(href="/" style="text-decoration:none").mb4.services
			.media
				.media-body
					h5.mt-0.text-info Edit Article
					|      You can edit your posted articles any time to keep the article upto dated with the latest information. You can update title, body and image of the article. You can also delete the article any time. 
				i.ml-3.fa.fa-newspaper.text-info(style="font-size:48px;")
		br
		a(href='/person/edit/missing/'+user._id style="text-decoration:none").mb4.services
			.media
				i.mr-3.fa.fa-user-circle.text-info(style="font-size:48px;")
				.media-body
					h5.mt-0.text-info Edit Missing Person
					|     Have you found the missing person? Have you missed something? Had you less information while adding the missing person record? MissingPersonFinder allows you to easily edit any missing person record that you have added.
		br
		a(href="/" style="text-decoration:none").mb4.services
			.media
				.media-body
					h5.mt-0.text-info Advance Search
					|     There are millions of records on MissingPersonFinder, we have added Advance search service by keeping the bulk records in mind. You can easily find records of your interest with our Advance Missing Person Finder Search form.
				i.mr-3.fa.fa-newspaper.text-info(style="font-size:48px;")
		br
		hr